venv/
.env
.env.hidden
__pycache__/
*.pyc
chroma_persistent_storage/# environments
.env
.env.*
*.env

# virtual environments
venv/
.venv/

# python cache
__pycache__/
*.pyc

# vector db
chroma_persistent_storage/